@font-face {
    font-family: 'Geraldine';
    src: url('geraldine-font/geraldine-font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mochary';
    src: url(mochary-font/MocharyPersonalUseOnly-46wl.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BlackChancery';
    src: url(black-font/BLKCHCRY.TTF);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cookie';
    src: url(cookie/Cookie-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

.cookie {
    font-family: cookie;
    font-size: 26px;
}

.blackcalli {
    font-family: BlackChancery;
}

.colorforh1 {
    color: #f26147;
}

.flowerfont {
    font-family: Geraldine;
}

.heartfont {
    font-family: Mochary;
    font-size: 24px;
}

.cloudeffect {
    background-color: #febab7bd;
    border-radius: 50%;
    box-shadow: 0px 0px 20px 20px #febab7bd;
}




.cardglass {
    box-shadow: 0px 0px 30px 10px #f7a9a4;
    background: inherit;
    backdrop-filter: blur(50%);
    width: 100%;
    border-radius: 60px;
    padding: 10px;
    /* margin: 100px;  */

}

.boderrad {
    border-radius: 15px;
    box-shadow: 0px 0px 20px 10px #f7a9a4;

}


.glass-section {
    /* width: 80%; */
    /* max-width: 600px; */
    /* padding: 20px; */
    background: rgba(255, 255, 255, 0.2);
    /* Semi-transparent background */
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    /* Light border */
    backdrop-filter: blur(10px);
    /* Blur effect */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Optional shadow for depth */
    text-align: center;
    color: #fff;
}
.best{
    font-size: 22px;
    font-family: cookie;

}
.wish{
    text-align: center;
    margin-bottom: 50px;
    display: flex;
    justify-content: center; /* Horizontally center the child */
    align-items: center;
}
.wishbutton{
    background-color: #f7a9a4;
    font-size: 24px;
    color: white;
    width:150px;
    box-shadow: 0px 0px 20px 10px #f26147;
    border-radius: 20px;
}

@media (max-width:480px) {
    .cloudeffect {
        background-color: #febab7bd;
        border-radius: 50%;
        box-shadow: 0px 0px 50% 10% #febab7bd;
        height: 250px;
    }
}